/* General Layout */
:root {
  --light-bg: #f9f9f9;
  --dark-text: #333;
  --light-text: #555;
}

body {
  background: #f0f2f5;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--dark-text);
}

/* Header */
header {
  background: #fff;
  margin-top: 0;
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header a {
  color: var(--dark-text);
  text-decoration: none;
  font-weight: 500;
}

button {
  background-color: #ea980000; 
  border: 1px solid ;
  color: rgb(0, 0, 0);
  padding: 10px 10px; 
  margin-top: 20px;
  text-align: center; 
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block; 
  font-size: 8px; 
  font-weight: bold; 
  letter-spacing: 2px; 
  box-shadow: 0 5px 5px rgba(65, 63, 63, 0.3); 
  transition: all 0.3s ease 0s; 
  cursor: pointer;
  outline: none;
}

/* Home Page Layout */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.workout-details {
  background: #fff;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Form Styling */
form {
  background: #fff;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  height: 500px;
}

form label {
  color: var(--dark-text);
  font-weight: 600;
  margin-bottom: 8px;
  display: block;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  width: 85%;
  border: none;
  border-bottom: 2px solid #ddd;
  font-size: 1em;
  transition: border-color 0.2s;
}

input:focus {
  border-color: rgb(41, 40, 40);
  outline: none;
}

form button {

  width: 100%;
  padding: 15px;
  font-size: 10px;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 900px) {
  .home {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {
  form {
    padding: 20px;
  }

  form button {
    font-size: 1em;
  }
}
